/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    padding: 20px;
    margin: 20px;
    width:80%;
    background-color: antiquewhite;  
} */
#rps{
    text-align: center;
    color: #030303;
    padding: 15px;
    background-color: whitesmoke;
    font-family: fantasy;
    background-color: #5eec2679;
    font-size: 40px;
    border-radius: 10px;
    padding: 10px; 
}
/* #rock {
    background-color: aqua;
    padding: 8px 30px;
    border-radius: 10px;
    top: 465px;
    font-size: 30px;
    font-family: monospace;
}
#paper{
    background-color:rgb(232, 192, 13);
    padding: 8px 30px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 30px;
} */
/* #scissor{
    background-color: #e25e5ef8;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 30px;
    font-family: monospace;
} */