#rps{
    text-align: center;
    color: #030303;
    padding: 15px;
    font-family: monospace;
    background-color: #07050579;
    font-size: 40px;
    border-radius: 30px;
    padding: 15px;
}
    

#rock {
    background-color: aqua;
    padding: 8px 30px;
    border-radius: 10px;
    top: 465px;
    font-size: 30px;
    font-family: monospace;
}
#paper{
    background-color:lawngreen;
    padding: 8px 30px;
    border-radius: 10px;
   
    font-family: monospace;
    font-size: 30px;
}

#scissor{
    background-color: rgba(180, 214, 30, 0.973);
    padding: 8px 30px;
    border-radius: 10px;
    
    font-size: 30px;
    font-family: monospace;
}